<style>

* {margin: 0; padding: 0;
 -webkit-transition: all 0.2s ease;
  -moz-transition:    all 0.2s ease;
  -ms-transition:     all 0.2s ease;
  -o-transition:      all 0.2s ease;
}
li  {list-style:none;}
a {text-decoration:none;}
img {border:0;}

@import url(http://fonts.googleapis.com/css?family=Strait);

body  {
  padding-top:99px;
}
/*  Header  */
#header {
  width: 100%;
  height: 46px;
  background: navy;
  border-bottom: 1px solid #050b0b;
  position:fixed;
  top:0px;
  z-index:99999;
}

#logo {
  width: 100px;
  float: left;
  margin-left: 20px;
  margin-top: 0px;
}
#logo a img   {
  max-width:100%;
}

/*  Jewels  */
#jewel-container  {width: 90px; margin-top: 8px; float:left;}
#jewel-container li   {float:left;}
#jewel-container li:hover   {background:#4b67a1;}
#jewel-container li a {background: url(http://www.erhanbasa.com/uploads/old/fb/fb-sprite.png) no-repeat; width:24px; height:31px; display:block;}
#jewel-container li.requests a  {background-position: -25px -221px;}
#jewel-container li.messages a  {background-position: -56px -85px;}
#jewel-container li.notifications a {background-position: -50px -186px;}

/*  Header Navigation */
#head-navigation  {width:400px; float:left;}
#head-navigation li {float:left; margin:0 10px;}
#head-navigation li a {color:#fff; opacity: .7; font: normal 16px/46px 'Strait',sans-serif;}
#head-navigation li a:hover,
#head-navigation li a.current {opacity:1;}

/*  Header  Search  */
#head-search    {float:right; width:600px;}
#head-search span {float:left; color: #fff; font:normal 12px/46px 'Strait',sans-serif;}

#searchform   {float:left; position:relative; margin-right:20px; margin-top:8px; }
#searchform input {width:500px; height:30px; background:#2a4675; border:0; border-radius: 5px; margin-left:10px; text-indent:20px; color:whitesmoke; box-shadow: inset 2px 2px 2px rgba(0,0,0,.15) ;}
#searchform input:focus {outline:0;}
#searchform input.btn {width:11px; height:13px; background: url(http://www.erhanbasa.com/uploads/old/fb/fb-sprite.png) no-repeat -31px -350px; right: 15px; top: 10px; z-index:10; position:absolute; cursor:pointer;}

/*  Timeline Header */
#timeline-head  {height:53px; width: 100%; background: #1d1e23; position:fixed; top:46px; z-index:1000;}
#timeline-head .page-name {background: url(http://www.erhanbasa.com/uploads/old/fb/name-icon.png) no-repeat left center;  font: normal 20px/53px 'Strait',sans-serif; color:#d8d8d8; padding-left:40px; margin-left: 20px; display: inline-block; float:left; text-shadow: 1px 1px 1px rgba(0,0,0,.5); cursor:pointer;}
#timeline-head .page-name:hover {color:#fff;}


/*  Timeline  */
/****************/

/*  Timeline SideBar  */
/* #timeline-side {position: fixed; top: 99px; height: 100%; width: 20%; background: #1D1E23; float: left; left:-20%; z-index:99999;}   */
/* #timeline.open   {width:80%; box-shadow:-20px 0px 30px rgba(0, 0, 0, .4); float:left; position:relative;}              */
/*  --- */

/*  Timeline layout */
#timeline div[class*="block1x"] {width:14.284%;}
#timeline div[class*="block2x"] {width:28.566%;}
#timeline div[class*="block3x"] {width:42.846%;}

#timeline div[class*="block"][class*="x1"]  {height:250px;}
#timeline div[class*="block"][class*="x2"]  {height:500px;}
#timeline div[class*="block"][class*="x3"]  {height:750px;}


#timeline .block      {float:left; overflow:hidden;}
#timeline .block .imgcontainer  {height:50%; overflow:hidden;}
#timeline .block .imgcontainer img  {width:110%;}

#timeline div[class^="block"][class*="x1"] .imgcontainer  {height:100%;}

#timeline div[class^="block2x"][class*="x1"] .imgcontainer  {width:50%; float:left; height:100%;}
#timeline div[class^="block2x"][class*="x1"] .commentcontainer  {height:100%; width:50%; float:left;}

#timeline .block .commentcontainer  {height:50%; position:relative;}
#timeline div[class*="block2x1"] .commentcontainer ,
#timeline div[class*="block1x2"] .commentcontainer  {background: #365d98;}

#timeline div[class*="block2x3"] .imgcontainer  {height:66.6%;}
#timeline div[class*="block2x3"] .commentcontainer  {height: 33.4%;;}
#timeline div[class*="block3x2"] .commentcontainer:before,
#timeline div[class*="block2x3"] .commentcontainer:before  {width: 0; height: 0; border-left: 20px solid transparent; border-right: 20px solid transparent; border-bottom: 20px solid white; position: absolute; content: ''; top: -20px; left: 40px;}

/*  Feedbacks */
#timeline .block .commentcontainer .feedbacks   {height:38px; background:#ebeef5; position:absolute; bottom:0px; width:100%;}
#timeline .block .commentcontainer .feedbacks .date   {font: normal 12px/38px 'Strait',sans-serif; color:#999; margin-left:14px;}
#timeline .block .commentcontainer .feedbacks ul  {float:right; padding-right:10px;}
#timeline .block .commentcontainer .feedbacks ul li   {float:left;}
#timeline .block .commentcontainer .feedbacks ul li a   {color:#6d84b4; font: normal 11px/38px tahoma,sans-serif; margin: 0 5px;}
#timeline .block .commentcontainer .feedbacks ul li.comment a   {background: url(http://www.erhanbasa.com/uploads/old/fb/comment-icon.jpg) no-repeat left -1px; padding-left: 20px;}
#timeline .block .commentcontainer .feedbacks ul li.like a  {background: url(http://www.erhanbasa.com/uploads/old/fb/like-icon.jpg) no-repeat left -1px; padding-left: 20px;}

/*  Peoples */
#timeline .block .commentcontainer .peoples   {padding:40px; color:#999;  font-family: 'Strait',sans-serif; font-size:12px;}
#timeline .block .commentcontainer .peoples .peoplename   {color:#3b5998; font-size:14px; background: url(http://www.erhanbasa.com/uploads/old/fb/white-star.jpg) no-repeat left center; padding-left: 18px;}
#timeline .block .commentcontainer .peoples a   {color:#5f729b;}
#timeline .block .commentcontainer .peoples p   {padding:10px 0; font-size:16px; background: url(http://www.erhanbasa.com/uploads/old/fb/comm-notif-icon.jpg) no-repeat left center; padding-left:20px;}

#timeline div[class*="block2x1"] .commentcontainer .peoples .peoplename ,
#timeline div[class*="block1x2"] .commentcontainer .peoples .peoplename {background: none; color:white; display:block; text-align: center; padding-left: 0; font-size:13px;}
#timeline div[class*="block2x1"] .commentcontainer .peoples p ,
#timeline div[class*="block1x2"] .commentcontainer .peoples p {background: none; color:white; width: 100%; padding: 0; text-align: center; padding-top: 15px; font-size:14px;}
#timeline div[class*="block2x1"] .commentcontainer .peoples a ,
#timeline div[class*="block1x2"] .commentcontainer .peoples a { color:#7bc1f2;}



@media (max-width:1860px) {
#timeline .block .imgcontainer img  {width:100%;}
#timeline div[class*="block"][class*="x1"]  {height:150px;}
#timeline div[class*="block"][class*="x2"]  {height:300px;}
#timeline div[class*="block"][class*="x3"]  {height:450px;}
#timeline div[class*="block2x3"] .imgcontainer  {height:50%;}
#timeline div[class*="block2x3"] .commentcontainer  {height:50%;}
}
@media (max-width:1300px) {
#timeline .block .commentcontainer .peoples   {padding:30px;}
#timeline .block .commentcontainer .peoples p {font-size: 10px!important; padding-top:5px;}
#timeline div[class*="block"]   {width:33.3%; height:300px!important;}
#timeline div[class*="block2x3"] .imgcontainer  {height:50%;}
#timeline div[class*="block2x3"] .commentcontainer  {height:50%;}
#timeline div[class^="block2x"][class*="x1"] .commentcontainer  {height:50%;}
#timeline div[class^="block2x"][class*="x1"] .imgcontainer img,
#timeline div[class^="block2x"][class*="x1"] .commentcontainer  {height:100%;}
}
@media (max-width:1130px) {
#timeline .block .commentcontainer .peoples   {padding:15px;}
#timeline .block .commentcontainer .peoples p:last-child  {display:none;}
#timeline .block .commentcontainer .feedbacks .date   {display:none;}
#head-navigation {width: 300px;}
#head-navigation li a {font: normal 11px/46px 'Strait',sans-serif;}
#head-search {width: 220px;}
#head-search span {display:none;}
#searchform input {width:200px;}
}
@media (max-width:960px) {
#timeline div[class*="block"]   {width:33.3%; height:200px!important;}
}
@media (max-width:800px) {
#head-navigation {display:none;}
}
@media (max-width:650px) {
#timeline div[class*="block"]   {width:50%; height:180px!important;}
}

/* For popup box */
label {
        position: relative;
}

.box {
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 1000000;

  /* Prevent some white flashing in Safari 5.1 */
  -webkit-backface-visibility: hidden;

  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#999999));
  background-image: -webkit-linear-gradient(top, #eeeeee, #999999);
  background-image:    -moz-linear-gradient(top, #eeeeee, #999999);
  background-image:     -ms-linear-gradient(top, #eeeeee, #999999);
  background-image:      -o-linear-gradient(top, #eeeeee, #999999);

  -moz-border-radius:    3px;
  -webkit-border-radius: 3px;
  border-radius:         3px;

  -moz-background-clip:    padding;
  -webkit-background-clip: padding-box;
  background-clip:         padding-box;

  width: 260px;
  height: 350px;
  padding: 8px;
  margin: 24px 0;
  border: black 1px solid;
  opacity: 0;
  overflow: scroll;

  -webkit-transform: scale(0) skew(50deg);
  -moz-transform:    scale(0) skew(50deg);
  -ms-transform:     scale(0) skew(50deg);
  -o-transform:      scale(0) skew(50deg);

  -webkit-transform-origin: 0px -30px;
  -moz-transform-origin:    0px -30px;
  -ms-transform-origin:     0px -30px;
  -o-transform-origin:      0px -30px;

  -webkit-transition: -webkit-transform ease-out .35s, opacity ease-out .4s;
  -moz-transition:    -moz-transform    ease-out .35s, opacity ease-out .4s;
  -ms-transition:     -ms-transform     ease-out .35s, opacity ease-out .4s;
  -o-transition:      -o-transform      ease-out .35s, opacity ease-out .4s;
}

.box:after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 30px;
  border-bottom: 20px solid #eee;
  border-left:   14px solid transparent;
  border-right:  14px solid transparent;
  width:  0;
  height: 0;
}

.popUpControl:checked ~ label > .box {
  opacity: 1;
  -webkit-transform: scale(1) skew(0deg);
  -moz-transform:    scale(1) skew(0deg);
  -ms-transform:     scale(1) skew(0deg);
  -o-transform:      scale(1) skew(0deg);
}
.popUpControl {
  display: none;
}

.button {
  /*background: blue;*/
  color: white;
  padding: 3px;
}

/* For dog example */
.box img {
    -moz-border-radius:    10px;
    -webkit-border-radius: 10px;
    border-radius:         10px;
}
#doggiezzz:checked ~ label > span:first-child {
  display: none;
}
#doggiezzz:checked ~ label:before {
  content: "X";
}


/* For link example */
.link { color: blue; text-decoration: underline; }
.title { display: block; font-weight: bold; margin: 0 0 10px 0; color: black; font: bold 16px Sans-Serif; text-decoration: none; }
.copy { color: black; text-decoration: none;  }


.animateList-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.animateList-enter.animateList-enter-active {
  opacity: 0.99;
}

.note-box {
  width: 300px;
  height: 380px;
  opacity: 0.9;
  background-color: white;
  border: black 1px solid;
  position: absolute;
  z-index: 2000000;
  overflow: scroll;
}

.hidden {
  display:none;
}
</style>

<div id="container">

    <div id="header">

      <h1 id="logo">
        <a href="#"><img src="http://www.erhanbasa.com/uploads/old/fb/facebook-logo.png" /></a>
      </h1>

      <ul id="jewel-container">
        <li class="jewel requests">
          <a href="#"></a>
        </li>
        <li class="jewel messages">
          <a href="#"></a>
        </li>
        <li class="jewel notifications">
          <a href="#"></a>
        </li>
      </ul>

      <ul id="head-navigation">
        <li>
            <input type="checkbox" id="doggiezzz" class="popUpControl">
            <label for="doggiezzz" class="button">
               <span>Notifications</span>
               <div id="notification" class="box">

              </div>
            </label>
        </li>
        <li><a href="#" class="box-target">Messages</a></li>
        <li><a href="#" class="box-target">Events</a></li>
        <li><a href="#" class="box-target">Photos</a></li>
        <li><a href="#" class="box-target">Find Friends</a></li>

      </ul>
      <div class="note-box hidden">

      </div>



      <div id="head-search">
        <span>Find Friends</span>
        <form id="searchform">
          <input placeholder="Search">
          <input type="button" class="btn">
        </form>
      </div>

    </div>


    <div id="timeline-head">
      <span class="page-name">Hi Samantha</span>
      <div id="head-search">
        <span>Find Friends</span>
        <form id="searchform">
          <input placeholder="Search">
          <input type="button" class="btn">
        </form>
      </div>

    </div>


    <div id="timeline-side">
    </div>



    <div id="timeline">

      <div class="block2x3 block">
        <div class="imgcontainer">
          <img src="http://www.erhanbasa.com/uploads/old/fb/dummy-3.jpg" />
        </div>
        <div class="commentcontainer">
          <div class="peoples">
            <a href="#"><strong class="peoplename">John Smith</strong></a> and <a href="#">42 other people</a>
            <p>Have commented on your <a href="#">wall post</a></p>
          </div>
          <div class="feedbacks">
            <span class="date">
              24 Minutes Ago
            </span>
            <ul>
              <li class="like"><a href="#">Like (15)</a></li>
              <li class="comment"><a href="#">Comment (42)</a></li>
              <li><a href="#">Share</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="block1x2 block">
        <div class="imgcontainer">
          <img src="http://www.erhanbasa.com/uploads/old/fb/dummy-4.jpg" />
        </div>
        <div class="commentcontainer">
          <div class="peoples">
            <a href="#"><strong class="peoplename">John Smith</strong></a>
            <p>Have commented on your <a href="#">wall post</a></p>
            <p>November 24</a></p>
          </div>
        </div>
      </div>

      <div class="block1x2 block">
        <div class="commentcontainer">
          <div class="peoples">
            <a href="#"><strong class="peoplename">Amelia Ryant</strong></a>
            <p>Posted on your <a href="#">wall post</a></p>
            <p><a>22 min ago</a></p>
          </div>
        </div>
        <div class="imgcontainer">
          <img src="http://www.erhanbasa.com/uploads/old/fb/dummy-5.jpg" />
        </div>
      </div>

      <div class="block3x2 block">
        <div class="imgcontainer">
          <img src="http://www.erhanbasa.com/uploads/old/fb/dummy-2.jpg" />
        </div>
        <div class="commentcontainer">
          <div class="peoples">
            <a href="#"><strong class="peoplename">John Smith</strong></a> and <a href="#">42 other people</a>
            <p>Have commented on your <a href="#">wall post</a></p>
          </div>
          <div class="feedbacks">
            <span class="date">
              24 Minutes Ago
            </span>
            <ul>
              <li class="like"><a href="#">Like (15)</a></li>
              <li class="comment"><a href="#">Comment (42)</a></li>
              <li><a href="#">Share</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="block1x1 block">
        <div class="imgcontainer">
          <img src="http://www.erhanbasa.com/uploads/old/fb/dummy-1.jpg" />
        </div>
        <div class="commentcontainer">
          <div class="peoples">
            <a href="#"><strong class="peoplename">John Smith</strong></a> and <a href="#">42 other people</a>
            <p>Have commented on your <a href="#">wall post</a></p>
          </div>
          <div class="feedbacks">
            <span class="date">
              24 Minutes Ago
            </span>
            <ul>
              <li class="like"><a href="#">Like (15)</a></li>
              <li class="comment"><a href="#">Comment (42)</a></li>
              <li><a href="#">Share</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="block1x1 block">
        <div class="imgcontainer">
          <img src="http://www.erhanbasa.com/uploads/old/fb/dummy-4.jpg" />
        </div>
        <div class="commentcontainer">
          <div class="peoples">
            <a href="#"><strong class="peoplename">John Smith</strong></a> and <a href="#">42 other people</a>
            <p>Have commented on your <a href="#">wall post</a></p>
          </div>
          <div class="feedbacks">
            <span class="date">
              24 Minutes Ago
            </span>
            <ul>
              <li class="like"><a href="#">Like (15)</a></li>
              <li class="comment"><a href="#">Comment (42)</a></li>
              <li><a href="#">Share</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="block2x1 block">
        <div class="commentcontainer">
          <div class="peoples">
            <a href="#"><strong class="peoplename">Amelia Ryant</strong></a>
            <p>Tagged you in a <a href="#">photo</a></p>
            <p><a>22 min ago</a></p>
          </div>
        </div>
        <div class="imgcontainer">
          <img src="http://www.erhanbasa.com/uploads/old/fb/dummy-6.jpg" />
        </div>
      </div>
      <div class="block1x1 block">
        <div class="imgcontainer">
          <img src="http://www.erhanbasa.com/uploads/old/fb/dummy-5.jpg" />
        </div>
        <div class="commentcontainer">
          <div class="peoples">
            <a href="#"><strong class="peoplename">Amelia Ryant</strong></a>
            <p>Tagged you in a <a href="#">photo</a></p>
            <p><a>22 min ago</a></p>
          </div>
        </div>
      </div>

    </div>
  </div>

<script type="text/jsx">
/**
 * @jsx React.DOM
 */

var ReactTransitionGroup = React.addons.TransitionGroup;

var Note = React.createClass({
  render: function() {
    return (
        <li><h6 className="subheader">{this.props.children}</h6></li>
    );
  }
});

var NotificationList = React.createClass({
  render: function() {
    var noteNodes = this.props.data.map(function(item) {
      return <Note >{item.note}</Note>;
    });
    return (
      <div className="notificationList">
        <ReactTransitionGroup transitionName="animateList">
        {noteNodes}
        </ReactTransitionGroup>
      </div>
    );
  }
});

var NotificationBox = React.createClass({
  loadNoteficationsFromServer: function() {
    $.ajax({
      url: this.props.url,
      dataType: 'json',
      mimeType: 'textPlain',
      success: function(data) {
        this.setState({data: data});
        console.log(this.state.data);
      }.bind(this)
    });
  },
  getInitialState: function(){
    return {data: []};
  },
  componentWillMount: function(){
    this.loadNoteficationsFromServer();
    setInterval(
      this.loadNoteficationsFromServer.bind(this),
      this.props.pollInterval
    );
  },
  render: function() {
    return(
      <div className="notificationBox">
        <h4 className="subheader">Your Notifications</h4>
        <NotificationList data={this.state.data} />
      </div>
    );
  }

});


$(document).ready(function() {
  console.log('ready');

  // React.renderComponent(
  //   <NotificationBox url="/notification" pollInterval={10000} />,
  //   document.getElementById('notification')
  // );

  $(".box-target").on('click', function() {
    console.log('box');
    $("div.note-box").toggleClass("hidden");
  });





$("#notification").on('click', function() {
  console.log('clicked');
  React.renderComponent(
    <NotificationBox url="/notification" pollInterval={10000} />,
    document.getElementById('notification')
  );
});


});


</script>

