<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/foundation/4.3.2/css/foundation.min.css" />

    <script src="//cdn.jsdelivr.net/foundation/4.3.2/js/foundation.min.js"></script>
    <script src="http://fb.me/react-0.5.0.min.js"></script>
    <script src="http://fb.me/JSXTransformer-0.5.0.js"></script>
  </head>
  <body>
    <h1 class="subheader"> Hello World </h1>
    <div id="content"></div>
    <script type="text/jsx">
      /** @jsx React.DOM */
      var TripBox = React.createClass({
        render: function() {
          return (
            <div class="tripBox">
              <h1 class="subheader">Trip Listing</h1>
              <TripList data={this.props.data}/>
              <TripForm />
            </div>
          );
        }
      });
      var TripList = React.createClass({
        render: function() {
          return (
            <div class="tripList">
              <Trip author="Tan Nguyen">Fun trip!</Trip>
              <Trip author="Akshay Menon">Looking forward to it.</Trip>
            </div>
          );
        }
      });
      var TripForm = React.createClass({
        render: function() {
          return (
            <div class="tripForm">

            </div>
          );
        }
      });
      var Trip = React.createClass({
        render: function() {
          return (
            <div class="trip">
              <h6 class="tripAuthor">
                {this.props.author}
              </h6>
              {this.props.children}
            </div>
          );
        }
      })
      React.renderComponent(
        <TripBox  data={data} />,
        document.getElementById('content')
      );
    </script>
  </body>
</html>

<div>

</div>

<script>
  window.App = {
    M: {},
    V: {},
    C: {},
    i: {
      m: {},
      v: {},
      c: {}
    }
  };

  App.M.Trip = Backbone.Model.extend({
    urlRoot: "/trip"
  });

  App.C.Trips = Backbone.Collection.extend({
    url: "trip",
    model: App.M.Trip
  });

  App.V.Trip = Backbone.View.extend({

  });

  App.V.Trips = Backbone.View.extend({

  });
  console.log("in studd.ejs");
</script>
