<!DOCTYPE html>
<html>
  <head>

    <script src="http://fb.me/react-0.5.0.min.js"></script>
    <script src="http://fb.me/JSXTransformer-0.5.0.js"></script>
  </head>
  <body>
    <h1 class="subheader"> Hello World </h1>
    <div id="content"></div>
    <script type="text/jsx">
     /** @jsx React.DOM */


      var Trip = React.createClass({
        render: function() {
          return (
            <div class="trip">
              <h6 class="tripAuthor">
                {this.props.author}
              </h6>
              {this.props.children}
            </div>
          );
        }
      });

      var TripBox = React.createClass({
        loadTripsFromServer: function() {
          $.ajax({
            url: this.props.url,
            dataType: 'json',
            mimeType: 'textPlain',
            success: function(data) {
              this.setState({data: data});
              console.log('state data:' + this.state.data);
            }.bind(this)
          });
        },
        getInitialState: function() {
          return {data: []};
        },
        componentWillMount: function() {
          console.log('in mount');
          this.loadTripsFromServer();
          setInterval(
            this.loadTripsFromServer.bind(this),
            this.props.pollInterval
          );
        },
        render: function() {
          console.log('render state data:' + this.state.data);
          return (
            <div class="tripBox">
              <h1 class="subheader">Trip Listing</h1>
              <TripList data={this.state.data} />
              <TripForm />
            </div>
          );
        }
      });

      var TripList = React.createClass({
        render: function() {
          // var tripNodes = this.props.data.map(function(trip) {
          //   return <Trip author={trip.name}>{trip.name}</Trip>;
          // });
          return (
            <div class="tripList">
              // {tripNodes}
            </div>
          );
        }
      });

      var TripForm = React.createClass({
        render: function() {
          return (
            <div class="tripForm">

            </div>
          );
        }
      });



      React.renderComponent(
        <TripBox  url="/trip" pollInterval={10000} />,
        document.getElementById('content')
      );


    </script>
  </body>
</html>

<div>

</div>

<script>
  window.App = {
    M: {},
    V: {},
    C: {},
    i: {
      m: {},
      v: {},
      c: {}
    }
  };

  App.M.Trip = Backbone.Model.extend({
    urlRoot: "/trip"
  });

  App.C.Trips = Backbone.Collection.extend({
    url: "trip",
    model: App.M.Trip
  });

  App.V.Trip = Backbone.View.extend({

  });

  App.V.Trips = Backbone.View.extend({

  });
</script>
